@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300);
@import url(http://fonts.googleapis.com/css?family=Titillium+Web:400,300,200);
@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic,700);

body {
  font-family: 'Open Sans', sans-serif;
  color: #86837d;
  background: #f2eee8;
  font-weight: 300;
  font-size: 16px;
}


h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 300;
  color: #6c94b8;
}



p {
  font-family: 'Open Sans', sans-serif;
  margin-top: 0px;
  margin-bottom: 20px;
}

hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}


.zeroAuto {
  text-align: center;
  margin-right: 0px;
}

/* Bootstrap Overrride Styles */

.navbar {
  margin-bottom: 0px;
}

.jumbotron {
  color: #fbfcfd;
  background: #80a8cc;
}

.avatarImage {
  margin-bottom: 20px;   
  border: 6px solid #6c94b8;
}

.project-img {
  margin-top: 20px;
  margin-bottom: 20px;
}

.timelineContainer {
  overflow: scroll;
  overflow-x: scroll;
  overflow-y: scroll;
}