@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300);
@import url(http://fonts.googleapis.com/css?family=Titillium+Web:400,300,200);

body {
  font-family: 'Open Sans', sans-serif;
  color: #86837d;
  background: #f2eee8;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
}


h1 {
  font-family: 'Titillium Web', sans-serif;
  font-size: 39.0625px;
  line-height: 58.59375px;   
  color: #fefeff;
  margin-top: 10px;
  margin-bottom: 10px;
}

h2 {
  font-family: 'Titillium Web', sans-serif;
  font-size: 31.25px;
  line-height: 40.875px;
  color: #605e58;
  margin-top: 20px;
  margin-bottom: 10px;
}

h3 {
  font-family: 'Titillium Web', sans-serif;
  font-size: 25px;
  line-height: 37.5px;
  color: #6c94b8;
  margin-top: 0px;
  margin-bottom: 0px;
}

h4 {
  font-family: 'Titillium Web', sans-serif;
  font-size: 20px;
  line-height: 30px;
  color: #80a8cc;
  margin-top: 0px;
  margin-bottom: 0px;
}

p {
  margin-top: 0px;
  margin-bottom: 20px;
  font-size: 18px; 
  line-height: 25.2px;
}

ul {
  margin-top: 0px;
  margin-bottom: 0px;
}

li {
  margin-top: 0px;
  margin-bottom: 20px;
  font-size: 18px; 
  line-height: 25.2px;
}

hr.headerRule {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.btn {
  color: #f3f6fa;
  background: #80a8cc;
  padding: 10px 30px;
  margin: 40px 0px 0px 20px;
  border-radius: 8px;
  text-decoration: none;
  text-transform: uppercase;
}

/* DIV alignment */

.zeroAuto {
  text-align: center;
  margin-right: 0px;
}


.vert {
  margin-top: 0px
  padding-top: 0px;
  vertical-align: top;
}

/* Elements */

.icon {
 color: #f3f6fa;
 padding: 10px;
 margin-top: 20px;
 margin-right: 20px;
}


.img-circle {
   border-radius: 50%;
   margin-top: 20px;
   margin-bottom: 20px;   
   border: 6px solid #6c94b8;
}

.projectImages {
  border-radius: 6px;
  margin: 0 0 10px 0;
}

.socilLinks {
  text-align: right;
  margin-top: 10px;
}

/* Text */

.thin {
  font-weight: 300;
}

.thick {
  font-weight: 700;
}

.introText {
  color: #f3f6fa;
  font-weight: 300;
  font-size: 25px;
  line-height: 40.875px;
  margin-top: 0px;
  vertical-align: top;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}

.noMarginTop {
  margin-top: 0px;
}


.noMargin {
  margin: 0,0,0,0px;
  padding: 0,0,0,0px;
}


.bottomMargin p{
  margin-bottom: 20px;
}


/* Sections */

.bigBand {
  width: 100%;  
  margin: 0; 
  color: #fbfcfd;
  padding: 20px 0;
  background: #80a8cc;
  border-bottom: 1px solid #e2e2e2;
  border-top: 1px solid #e2e2e2;
}
