@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300);
@import url(http://fonts.googleapis.com/css?family=Titillium+Web:400,300,200);

body {
  font-family: 'Open Sans', sans-serif;
  color: #86837d;
  background: #f2eee8;
  font-weight: 300;
  font-size: 16px;
}


h1 {
  font-family: 'Titillium Web', sans-serif;
  font-size: 39.0625px;
  line-height: 58.59375px;   
  color: #fefeff;
  margin-top: 10px;
  margin-bottom: 10px;
}

h2 {
  font-family: 'Titillium Web', sans-serif;
  font-size: 31.25px;
  line-height: 40.875px;
  color: #605e58;
  margin-top: 20px;
  margin-bottom: 10px;
}

h3 {
  font-family: 'Titillium Web', sans-serif;
  font-size: 25px;
  line-height: 37.5px;
  color: #6c94b8;
  margin-top: 0px;
  margin-bottom: 0px;
}

h4 {
  font-family: 'Titillium Web', sans-serif;
  font-size: 20px;
  line-height: 30px;
  color: #80a8cc;
  margin-top: 0px;
  margin-bottom: 0px;
}

p {
  margin-top: 0px;
  margin-bottom: 20px;
  font-size: 18px; 
}

hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}


.zeroAuto {
  text-align: center;
  margin-right: 0px;
}

/* Bootstrap Overrride Styles */

.navbar {
  margin-bottom: 0px;
}

.jumbotron {
  color: #fbfcfd;
  background: #80a8cc;
}

.avatarImage {
  margin-bottom: 20px;   
  border: 6px solid #6c94b8;
}

